@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");
body{
    margin: 0;
    
}
*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Lora', serif;
}
.container{
    max-width: 1140px;
    margin: auto;
}

.row{
    
    display: flex;

    flex-wrap: wrap;
}
header.fixed{
    
    position: fixed;
  }
header{

    background-color: #c9c1ac;
    color: #d3325f;
    position: absolute;
    left: 0px;
    right: 0px;
    
    z-index: 10;
}
header .row{
    
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px;
}
header .name a{
    padding-left:10px;
  padding-right:10px;
    text-decoration: none;
    font-size: 22px ;
    font-weight: 600;
    color: #d3325f;
    text-transform: uppercase ;    
    position: relative; 
}

header .navbar ul{
    color: #d3325f;
    list-style: none;
    padding: 0;
    margin: 0;
}
header .navbar ul li{
    display:  inline-block;
    margin-left: 35px;
}
header .navbar ul li a{
    font-size: 15px;
    color: #d3325f;
    text-decoration: none;
    line-height: 72px;
    
    display: block;
    font-weight: 600;
    position: relative;

}
header .navbar ul li a::before{
    content: '';
    height: 3px;
    background-color: #ffffff;
    width: 0%;
    position: absolute;
    right: 0px;
    bottom: -1px;
    bottom: -1px;
}
header .navbar ul li a:hover::before{
    width: 100%;
    left: 0;
}

/*HOME*/

.home{
    
    min-height: 100vh;
    background-image: url("./images/background1.jpg");
    background-size: cover;
    background-position: center;
    padding: 15px;
}
.home .full-screen{
    min-height: 100vh;
}
.home .home-content{
    flex:0 0 100%;
    max-width: 100%;
    display: flex;
    flex-wrap:wrap ;
    align-items: center;
}
.home .home-content .block{
    
    flex: 0 0 75%;
    max-width: 75%;
    padding-left: 10px;
    border-left: 5px solid #d3325f;
    margin-top: 50px;
}
.home .home-content .block h6{
    color: #d3325f;
    font-size:18px;
    font-weight: 500;
    margin: 0;
    padding: 0;
}
.home .home-content .block h1{
    color: #d3325f;
    font-size: 70px;
    font-weight: 600;
    margin: 0;
    padding: 0;
    line-height: 1.2;
}

/*about-me*/

.about-me{
    background-color: #e4dcdca1;
    padding: 100px 15px;
}

.about-me .section-title{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 40px;
}

.about-me .section-title h1{
    display: inline-block;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 700px;
    margin: 0 0 10px;
    color: #d3325f;
    position: relative;
}

.about-me .section-title h1::before{
    content: '';
    left: 0;
    right: 30%;
    position: absolute;
    height: 2px;
    background-color: #d3325f;
    bottom: 0px;
}
.text-uppercase{
    text-transform: uppercase!important;;
}
.about-me .section-title p.small{
    display: block;
    font-size: 14px;
    color: #838383;
    font-weight: 400;
    letter-spacing: 2px;
}
.about-me .about-content .img{
    flex: 0 0 33.33%;
    max-width: 33.33%;
}
.about-me .about-content .img img{
    width: 100%;
    display: block;
}

.about-me .about-content .text{
    flex: 0 0 66.66%;
    max-width: 66.66%;
    padding-left: 30px;
}

.about-me .about-content .text h4{
    font-size: 25px;
    font-weight: 600;
    margin: 0 0 5px;
    color: #D3325F;
}
.about-me .about-content .text p{
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: #838383;
    margin: 0 0 20px ;
}
.about-me .about-content .text .info{
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
}
.about-me .about-content .text .info .list{
    flex: 00 calc(50% - 15px);
    max-width: calc(50% - 15px);
    margin-top: 10px;  
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #dee2e6 ;
}
.about-me .about-content .text .info .list label{
    padding-right: 10px;
    color: #D3325F;
    font-weight: 600;
    font-size: 20px ;
    padding-top: 3px;
}
.about-me .about-content .text .info .list p{
    margin: 0;
}
.about-me .about-content .text .info .list p ul{
    margin: 0;
    font-size: 100px ;
    color: black;
}


/*skills*/


.skills{
    background-color: #e4dcdca1;
    padding: 100px 15px;
}

.skills .skills-content{
    flex: 0 0 50%;
    max-width: 50%;
    padding-right: 40px;
}
.skills .img{
    flex: 0 0 50%;
    max-width: 50%;
}

.align-items-center{
    align-items: center;
}
.skills .img img{
    width: 100%;
    display: block;
}
.skills .skills-content .section-title{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 40px;
}

.skills .skills-content .section-title h1{
    display: inline-block;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 700px;
    margin: 0 0 10px;
    color: #d3325f;
    position: relative;
}
.skills .skills-content .section-title h1::before{
    content: '';
    left: 0;
    right: 30%;
    position: absolute;
    height: 2px;
    background-color: #d3325f;
    bottom: 0px; 
}
.skills .skills-content .skill-box {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 30px;
}

.skills .skills-content .skill-box h6{
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    margin: 0 0 8px;
}

.skills .skills-content .skill-box .skill-bar{
    height: 5px;
    background-color: #f6d5de;
    position: relative;
}

.skills .skills-content .skill-box .skill-bar .skill-bar-in{
    background-color: #e996ac;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
}

.skills .skills-content .skill-box .skill-bar .skill-bar-in span{
    color: #838383;
    font-size: 16px;
    font-weight: 400;
    position: absolute;
    right: 0;
    top: -30px;
}

/* PROJECTS */


.projects-content{
    background-color: #ffffff;
    padding: 100px 15px;
}

.projects-content .section-title{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 40px;
}

.projects-content .section-title h1{
    display: inline-block;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 700px;
    margin: 0 0 10px;
    color: #d3325f;
    position: relative;
}

.projects-content .section-title h1::before{
    content: '';
    left: 0;
    right: 30%;
    position: absolute;
    height: 2px;
    background-color: #d3325f;
    bottom: 0px;
}

header ul{
    font-size: 20px;
    color: #d3325f;
}

footer{
    padding: 80 px 15px;
    background-color: black;
}

footer .logo{
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    font-size: 45px;
    color: #ffffff;
    font-weight: 900;
}

footer .social{
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    padding-top: 15px;
}

footer .social a{
    color: #fff7f7;
    text-decoration: none;
    display: inline-block;
    margin: 0px 12px;
    padding-bottom: 80px;
}